<template>
  <div class="">
    <header-row :title="title" />
    <slot></slot>
  </div>
</template>

<script>
import HeaderRow from './rows/HeaderRow.vue'

export default {
  components: { HeaderRow },
  data() {
    return {
      title: 'Special Offers',
      items: {
        id: '1',
        name: 'sample',
        url: 'test.jpg',
      },
    }
  },
}
</script>