<template>
  <div>
    <header-row :title="title" />
    <b-row>
      <b-col
        v-for="item in items"
        :key="item.id"
        lg="3"
        md="4"
        sm="6"
        cols="6"
        class="my-2"
      >
        <card-box :name="item.name" :color="item.color" />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import CardBox from './rows/CardBox.vue'
import HeaderRow from './rows/HeaderRow.vue'
export default {
  components: { HeaderRow, CardBox },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      title: 'Services',
    }
  },
}
</script>

<style>
</style>