<template>
  <div
    class="
      w-100
      search-box
      p-2
      d-flex
      justify-content-between
      align-items-center
    "
  >
    <BIconSearch variant="primary" font-scale="1.3" class="ml-1" />
    <input
      class="w-100 ml-2 rounded search-input"
      placeholder="Search..."
      type="text"
      :value="value"
      @input="updateValue"
    />
    <div class="bg-primary rounded px-2 py-1">
      <BIconFunnel variant="light" font-scale="1.3" />
    </div>
  </div>
</template>

<script>
import { BIconSearch, BIconFunnel } from 'bootstrap-vue'
export default {
  components: {
    BIconSearch,
    BIconFunnel,
  },
  props: {
    value: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      text: '',
    }
  },
  methods: {
    updateValue(event) {
      this.$emit('input', event.target.value)
    },
  },
}
</script>
<style lang="scss">
.search-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  .search-input {
    width: 100%;
    border: 0px !important;

    &:focus {
      border: 0px !important;
      outline: 0 !important;
    }
  }
}
</style>