<template>
  <b-card class="card-box text-center rounded">
    <span
      class="card-icon mt-4 mb-2 d-block"
      :style="'--my-color-var:' + color"
    >
      <img :src="require('~/assets/icon/' + iconName + '.svg')" alt="" />
    </span>
    <br />
    <strong>
      {{ name }}
    </strong>
  </b-card>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: 'default',
    },
  },
  computed: {
    iconName() {
      return this.name.toLocaleLowerCase()
    },
  },
}
</script>

<style lang="scss">
.card-box {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    animation: flash 0.58s ease-in-out;
    transform: scale(0.95);
    .card-icon::before {
      transform: translate(-50%, -50%) scale(4);
      //   border-radius: 0;
    }
  }
  strong {
    z-index: 2;
  }
  .card-icon {
    position: relative;
    z-index: -1;
    &::before {
      content: '';
      position: absolute;
      width: 80px;
      height: 80px;
      background: var(--my-color-var);
      opacity: 0.4;
      z-index: -10;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      border-radius: 50%;
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

@keyframes flash {
  0% {
    box-shadow: 0 0 0 0px rgba(80, 80, 80, 0.187);
  }
  50% {
    box-shadow: 0 0 25px 50px rgba(80, 80, 80, 0.02);
  }
  100% {
    box-shadow: 0 0 100px 50px rgba(80, 80, 80, 0);
  }
}
</style>