<template>
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h3>{{ title }}</h3>
    <strong class="text-primary pointer-event">See All</strong>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    url: {
      type: String,
      default: '',
    },
  },
}
</script>