<template>
  <div>
    <FidarHeader />
    <nuxt keep-alive />
    <FidarFooter />
  </div>
</template>

<script>
import FidarHeader from './header.vue'
import FidarFooter from './footer.vue'
export default {
  components: {
    FidarHeader,
    FidarFooter,
  },
}
</script>