<template>
  <b-container class="mt-4">
    <header class="d-flex justify-content-between align-items-center">
      <div class="left-side">
        <h5>Hello Sharon</h5>
        <span>what would you buy today</span>
      </div>
      <div class="right-side d-flex align-items-center">
        <BIconBell font-scale="1.8" class="mr-3" style="color: #5c5c5c" />
        <img
          width="50"
          height="50"
          class="rounded-circle"
          :src="require('~/assets/img/avatar.jpg')"
          alt=""
        />
      </div>
    </header>
  </b-container>
</template>

<script>
import { BIconBell } from 'bootstrap-vue'
export default {
  components: {
    BIconBell,
  },
}
</script>