<template>
  <b-container>
    <SearchBox v-model="search" class="mt-4" />
    <banner-row class="my-4">
      <div
        v-swiper="swiperOption"
        class="w-5/6 ml-auto relative"
        :loadtheme="false"
      >
        <div class="swiper-wrapper">
          <div v-for="banner in banners" :key="banner" class="swiper-slide">
            <!-- Render original HTML in server, render Swiper in browser (client) -->
            <img
              class="img-responsive"
              :src="require('~/assets/img/banner.png')"
            />
          </div>
        </div>
        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </div>
    </banner-row>

    <feature-row :items="detail.features" class="" />
  </b-container>
</template>

<script>
import BannerRow from '../components/BannerRow.vue'
import FeatureRow from '../components/FeatureRow.vue'
import SearchBox from '../components/SearchBox.vue'

export default {
  name: 'IndexPage',
  components: {
    SearchBox,
    BannerRow,
    FeatureRow,
  },
  data() {
    return {
      banners: ['/slider-1.png', '/slider-2.png', '/slider-3.png'],
      swiperOption: {
        slidesPerView: 1,
        autoplay: {
          delay: 5000,
        },
        spaceBetween: 10,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
      search: '',
      detail: {
        headers: [
          {
            id: '1',
            name: 'sample 1',
            url: 'sample.jpg',
          },
          {
            id: '2',
            name: 'sample 2',
            url: 'sample.jpg',
          },
        ],
        features: [
          {
            id: '1',
            name: 'Cleaning',
            icon: 'Cleaning',
            color: '#7210ff',
          },
          {
            id: '2',
            name: 'Repairing',
            icon: 'Repairing',
            color: '#ff981f',
          },
          {
            id: '3',
            name: 'Painting',
            icon: 'Painting',
            color: '#1a96f0',
          },
          {
            id: '4',
            name: 'Laundry',
            icon: 'Laundry',
            color: '#ffc02d',
          },
          {
            id: '5',
            name: 'Appliance',
            icon: 'Appliance',
            color: '#f54336',
          },
          {
            id: '6',
            name: 'Plumbing',
            icon: 'Plumbing',
            color: '#34a853',
          },
          {
            id: '7',
            name: 'Shifting',
            icon: 'Shifting',
            color: '#00bcd3',
          },
          {
            id: '8',
            name: 'More',
            icon: 'More',
            color: '#7210ff',
          },
        ],
      },
    }
  },
}
</script>




